  /* GENERAL */

@font-face {
  font-family: 'Dimitri';
  src: url('../font/Dimitri.eot?#iefix') format('embedded-opentype'),  url('../font/Dimitri.woff') format('woff'), url('../font/Dimitri.ttf')  format('truetype'), url('../font/Dimitri.svg#Dimitri') format('svg');
  font-weight: normal;
  font-style: normal;
}

html{
  height: 100%;
}

body{
	background: rgb(25,25,25); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(25,25,25,1) 0%, rgba(22,22,22,1) 51%, rgba(0,0,0,1) 97%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(25,25,25,1)), color-stop(51%,rgba(22,22,22,1)), color-stop(97%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(25,25,25,1) 0%,rgba(22,22,22,1) 51%,rgba(0,0,0,1) 97%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(25,25,25,1) 0%,rgba(22,22,22,1) 51%,rgba(0,0,0,1) 97%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(25,25,25,1) 0%,rgba(22,22,22,1) 51%,rgba(0,0,0,1) 97%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(25,25,25,1) 0%,rgba(22,22,22,1) 51%,rgba(0,0,0,1) 97%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191919', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  color: #FFFFFF;
	font-family: 'Montserrat Alternates', sans-serif;
  height:100%;
  background-size: cover;
  font-size: 15px;
  overflow-x: hidden 
}

a{
	text-decoration: none;
	outline: 0;
  color: #FFFFFF;
}

input{
	outline: 0 !important;
}

p{
	color: #989898;
	font-size: 0.8em;
}

input[type=radio]{
  opacity: 0.6;
}

ul{
	list-style-type: none;
  margin: 0;
  padding: 0;
}

table{
  margin: 0 auto;
}

.clear{
	clear: both;
}

.contenedor{  
  overflow: hidden;
  text-align: center;
  width: 100%;
}


/*TITULOS*/

.titulosDestacados{
  font-size: 4em;
  font-family: "Dimitri";
  letter-spacing: 1.5px;
  margin: 0 auto;
  background: -webkit-linear-gradient(#FFCB00, #C04200);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;   
}


/* CENTRADO DEL SLIDER EN MITAD DE PANTALLA */

  .contenedorCell{
    height: 100vh;
    display: table-cell;
    /*vertical-align: middle;*/
    padding: 0 0 5em 0;
  }

  .contenedorBlock{
    display: inline-block;
    position: fixed;
   /* vertical-align: middle;*/
       background: -moz-linear-gradient(top, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.27) 59%, rgba(0,0,0,0.62) 100%), url("../img/pattern1.png") repeat !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.85)), color-stop(59%,rgba(0,0,0,0.27)), color-stop(100%,rgba(0,0,0,0.62))), url("../img/pattern1.png") no-repeat !important;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.27) 59%,rgba(0,0,0,0.62) 100%), url("../img/pattern1.png") repeat !important;
    background: -o-linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.27) 59%,rgba(0,0,0,0.62) 100%), url("../img/pattern1.png") repeat !important;
    background: -ms-linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.27) 59%,rgba(0,0,0,0.62) 100%), url("../img/pattern1.png") repeat !important;
    /*IMPORTANTE !AJUSTAR LOS DEGRADE CUANDO ME DECIDA CUAL VA*/
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0.07) 0%,rgba(0, 0, 0, 0.27) 59%,rgba(0, 0, 0, 0.69) 100%), url("../img/pattern1.png") repeat !important;
    background-attachment: fixed !important;
  }


/* HEADER & NAV */

nav{
  min-height: initial !important;
  margin: 0 !important;
  height: auto !important;
  height: 15px;
}

.navbar-nav {
  display: table;
  table-layout: fixed;
  width: 75%;
  margin: 0 auto;
  float: none;

}

.nav>li>a {
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background-color: transparent;

   /*padding: 0.5em 0 1em 0;*/
  font-size: 0.9em;
 -webkit-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
   -moz-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
     -o-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
        transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */

 -webkit-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
     -moz-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
       -o-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
          transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
}
  
.nav li a:hover {
  height: 65px;
  background-color: #F90000;
}

.nav li a{
  height: 50px;
  /*border-top: 1px solid #F90000;*/
}

.nav li{
  width: 100%;    
  vertical-align: bottom;
  display: table-cell;
  /*background-color: #171411; #9B0000*/
  margin: -3px;
}

.navbar-brand{
  width: 10%;
}

.navbar-brand img{
  position: relative;
  z-index: 10;
}

nav a{
  color: #FF0000 !important;
}

nav a:hover{
  color: #000000 !important;
}

nav ul{
  margin: 0;
  width: 100%;
}

nav ul li{
  text-align: center;
  height: 30px;
}

.navbar-toggle{
  width: 45px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #FF0000;
  float: none;
  margin: 15px;
  padding: 0;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 19px;
  margin: 0 auto;
  height: 2px;
  border-radius: 1px;
  border-color: red;
  color: red;
  border: solid 1px;
}

#navbarCollapse{
  border-top: 1px solid #FF0000;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.95);
}


.fechainfoslider{
  width: 100vw;
  text-align: left;
  position: absolute;
  /*bottom: 0;*/
  /*left: 10%;*/
}

.fechainfoslider{
  background-color: rgba(0, 0, 0, 0.9);
}

.fechainfoslider p,.fechainfoslider h2{
  text-align: center;
  /*padding-left: 15%;*/
  /*background-color: #FFFFFF;*/
  color: #EF0000;
  /*border-bottom: 1px solid #FF0000;
  /*border-bottom-color: #201D19;
  /*order-top: 0;*/
  /*border-left-color: #CFA029;*/
 
  text-transform: uppercase;
}

.fechainfoslider{
  font-family: "Dimitri";
}

/*.fechainfoslider h2{
  color: #FEC100;
  margin: 0;
  font-size: 5em;
  padding-top: 10px;
  letter-spacing: 2px;
}
*/

.fechainfoslider h2{
  color: #FEC100;
  margin: 0;
  font-size: 5em;
  /* height: 90px; */
  padding-top: 10px;
  letter-spacing: 2px;
  
}

.fechainfoslider p{
  margin: 0;
  font-size: 2em;
}

/* INICIO */

.flexslider{
  width: 100%;
  overflow: hidden;
  height: 100% !important;
  z-index: 1;
}

.flexslider ul{
  padding: 0;
  
}

.flexslider img{
  box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 746px;

}

.agenda{
   background-color: rgba(0, 0, 0, 0.95);
  /*background-image: url("../img/pattern2.png");
  background-attachment: fixed;
  /*background-color: #FEF603;*/
  padding: 0em 0 70px 0;
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.agenda .row{
  margin-bottom: 15px;
}

.agenda h2{
  line-height: 1em;
  color: #F9BC20;
  text-transform: uppercase;
  letter-spacing: 2px;
  /*font-size: 11em;*/
  font-size: 8em;
}

.agenda img{
  width: 100%;
}

.agenda p{
  font-size: 1.5em;
  margin: 0;
  text-transform: uppercase;
}

.fecha-agenda{
  color: #000000;
  padding: 5px;
}

.agenda .banda{
  font-weight: bold;
}

.agenda .hora{
  color: #F9BC20;
}

.agendaTitulo{
  padding: 3em 0;
}

.agendaTitulo h2{
  margin: 0;
}

#da-thumbs{
  margin: 0 1em;
}

/* INFO AGENDA */


.da-thumbs .dtli {
  float: left;
  margin: 5px;
  background: #fff;
  /*padding: 4px;*/
  position: relative;
  box-shadow: 6px 6px rgba(0,0,0,0.5);
}
.da-thumbs .dtli a,
.da-thumbs .dtli a img {
  display: block;
  position: relative;
}
.da-thumbs .dtli a {
  overflow: hidden;
}

.da-thumbs .dtli a div {
  background-color: rgba(15, 15, 15, 0.97);
  /*background-image: url("../img/pattern2.png");*/
  background-attachment: fixed;
  position: absolute;

  width: 100%;
  height: 100%;
}

.da-thumbs .dtli p {
    color: #F9BC20; 
    font-size: 2em;
}

.da-thumbs .dtli .fecha-agenda{
    font-size: 1.5em;
    color: #EAEAEA;
}

.input-group-addon{
  padding: 2px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.proximas-fechas{
  clear: both;
  width: 100% !important;
  text-align: center;
  margin-top: 70px;
  height: 120px;
}

.proximas-fechas a{
  padding: 15px 20px;
  text-transform: uppercase;
  background-color: #AB1E22;
}


/* NOSOTROS */

#nosotros{
  height: 100vh;
  text-align: left;
  position: relative;
  overflow: hidden;
}

#nosotros p{
  color: #F9BC20;
}

.nosotrosContent{
  height: 100%;
  /* display: table; */
  text-align: center;
  width: 100%;
  background-image: url("../img/navbg.gif");
  background-size: cover;
}

.infonos{
  width: 100%;
  margin: 0 auto;
  /* padding: 2em 25%; */
  /* background-color: rgba(0, 0, 0, 0.9); */
  font-size: 1.15em;
  line-height: 1.45em;
  text-align: center;
}

.row1{
  border-top: 100vh solid rgba(0, 0, 0, 0.9);
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  position: absolute;
  /* background-image: url("../img/navbg.gif"); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

.row2{
  margin: 0 auto;
  width: 30%;
  font-size: 1.25em;
  /* padding: 2em; */
  position: absolute;
  /* display: inline-block; */
  /* right: 50%; */
  left: 35%;
}

.nosotrosRanaroja{
  width: 100%;
  height: 100%;
  bottom: 0;
  position:absolute;
  background-repeat: no-repeat;
  background-position: bottom center;
  z-index: 100;
  overflow: hidden;
}

.pataizq{
  width: 500px;
  height: 100vh;
  left: 0;
  bottom: 0;
  position: absolute;
  background-image: url("../img/pataizquierda.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  z-index: 100;
}

.selloRana{
  background-image: url("../img/selloRana.png");
  width: 150px;
  height: 150px;
  margin: 1em auto;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
}

.patader{
  width: 400px;
  height: 100vh;
  right: 0; 
  bottom: 0;
  position: absolute;
  background-image: url("../img/pataderecha.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  z-index: 100;
}

/* CALENDARIO */

#calendario{
    overflow-y: scroll;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.27) 59%, rgba(0,0,0,0.62) 100%), url("../img/pattern1.png") repeat !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.85)), color-stop(59%,rgba(0,0,0,0.27)), color-stop(100%,rgba(0,0,0,0.62))), url("../img/pattern1.png") no-repeat !important;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.27) 59%,rgba(0,0,0,0.62) 100%), url("../img/pattern1.png") repeat !important;
    background: -o-linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.27) 59%,rgba(0,0,0,0.62) 100%), url("../img/pattern1.png") repeat !important;
    background: -ms-linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.27) 59%,rgba(0,0,0,0.62) 100%), url("../img/pattern1.png") repeat !important;
    /*IMPORTANTE !AJUSTAR LOS DEGRADE CUANDO ME DECIDA CUAL VA*/
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0.07) 0%,rgba(0, 0, 0, 0.27) 59%,rgba(0, 0, 0, 0.69) 100%), url("../img/pattern1.png") repeat !important;
    background-attachment: fixed !important;
    height: 100%;
}

.linkscalendario{
  margin: 0 auto;
  height: 37px;
  width: 75%;
  display: inline-block;
  text-align: right;
  /* padding: 1em 1em; */
  vertical-align: bottom;
}

.filtros{
  background-color: rgba(37, 0, 0, 0.8);
}

.fechas{
  height: 80px;
  border-bottom: 1px solid #FF0000;
}

.fechas h2, #registrobanda h2{
  height: 65px;
  display: inline-block;
  font-family: "Dimitri";
  color: #FEC100;
  font-size: 4em;
  letter-spacing: 2px;
  margin: 0;
}

.fechas a{
  text-decoration: none;
  padding: 26px 2em;
  font-size: 1.25em;
  color: #F90000;
  -webkit-transition: background-color 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
     -moz-transition: background-color 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
       -o-transition: background-color 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
          transition: background-color 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
  -webkit-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
     -moz-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
       -o-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
          transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
}

.fechas a:hover{
  background-color: #F90000;
  color: #000000;
}

.itemcal{
  overflow: hidden;
  clear: both;
  text-align: left;
}

.imgitem img{
  width: 202px;
  height: 202px;
  border-radius: 7px;
}

.fechascal{
  padding: 40px 0 0 0;
  width: 75%;
  margin: 4em auto;
}

.filtros{
  margin: 0 auto;
  position: fixed;
  width: 100%;
}

.itemcal{
  vertical-align: top;
  margin: 20px;
  width: 202px;
  display: inline-block;
}

.itemcal h2{
  color: #FEC100;
  margin: 0;
  text-align: left;
  font-size: 1em;
  padding: 7px 0 4px 0;
}

.itemcal p{
  font-size: 1em;
  color: #B8B8B8;
  text-align: left;
  margin: 0;
}

.imgitem{
  display: inline-block;
  margin-right: 10px;
}

.infoitem{
  display: inline-block;
  padding: 0 7px;
}

/* BANDAS */

.banda{
  clear: both;
}

.descripcion{
  width: 50%;
  float: left;
}

.videos{
  width: 50%;
  float: left;
}

/* INGRESAR FECHA */

input,textarea,select{
  color: #000000;
}



/* BANDAS */

#bandas .banda{
    min-height: 100vh;
    position: relative;
    width: 100% !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.banda .infototalbanda {
    /*left: 40px;
    position: absolute;*/
    bottom: 0;
    width: 100%;
    z-index: 4;
   /* background-color: rgba(0, 0, 0, 0.8);*/
    color: #FDC000;
    position: absolute;
    overflow: hidden;
    text-align: left;
    font-size: 1.5em;

    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

}

.banda .infototalbanda h2{
  font-size: 4em;
  font-family: "Dimitri";
  letter-spacing: 1.5px;
  margin: 0 auto;
  background: -webkit-linear-gradient(#FFCB00, #C04200);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 90px;
}



.banda .infototalbanda p{
  font-size: 0.75em;
  margin: 0;
}

.banda .content{
  width: 75%;
  z-index: 4;
  padding-bottom: 4em;
  margin: 0 auto;
}

.banda .infobanda{
  width: 74%;
  display: inline-block;
  padding: 0em 2em;
  margin: 0 auto;
  vertical-align: top;
  /*float: left;*/
}

.banda iframe{
  border-radius: 7px; 
  padding: 1.5em;
  border: none;
  width: 24%;
  /*float: left;*/
}

#banda1{
  background-size: contain;
  background-position: center;
  background: rgba(76,76,76,0);
  background: -moz-radial-gradient(center, ellipse cover, rgba(76,76,76,0) 0%, rgba(75,75,75,0) 1%, rgba(19,19,19,1) 100%), url("../img/bandas1.jpg") 50% 0 no-repeat fixed;
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(76,76,76,0)), color-stop(1%, rgba(75,75,75,0)), color-stop(100%, rgba(19,19,19,1))), url("../img/bandas1.jpg") 50% 0 no-repeat fixed;
  background: -webkit-radial-gradient(center, ellipse cover, rgba(76,76,76,0) 0%, rgba(75,75,75,0) 1%, rgba(19,19,19,1) 100%), url("../img/bandas1.jpg") 50% 0 no-repeat fixed;
  background: -o-radial-gradient(center, ellipse cover, rgba(76,76,76,0) 0%, rgba(75,75,75,0) 1%, rgba(19,19,19,1) 100%), url("../img/bandas1.jpg") 50% 0 no-repeat fixed;
  background: -ms-radial-gradient(center, ellipse cover, rgba(76,76,76,0) 0%, rgba(75,75,75,0) 1%, rgba(19,19,19,1) 100%), url("../img/bandas1.jpg") 50% 0 no-repeat fixed;
  background: radial-gradient(ellipse at center, rgba(76,76,76,0) 0%, rgba(75,75,75,0) 1%, rgba(19,19,19,1) 100%), url("../img/bandas1.jpg") 50% 0 no-repeat fixed;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1 ), url("../img/bandas1.jpg") 50% 0 no-repeat fixed;
}

#banda2{
  background-size: contain;
  background-position: center;
  background: rgba(76,76,76,0);
  background: -moz-radial-gradient(center, ellipse cover, rgba(76,76,76,0) 0%, rgba(75,75,75,0) 1%, rgba(19,19,19,1) 100%), url("../img/bandas2.jpg") 50% 0 no-repeat fixed;
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(76,76,76,0)), color-stop(1%, rgba(75,75,75,0)), color-stop(100%, rgba(19,19,19,1))), url("../img/bandas2.jpg") 50% 0 no-repeat fixed;
  background: -webkit-radial-gradient(center, ellipse cover, rgba(76,76,76,0) 0%, rgba(75,75,75,0) 1%, rgba(19,19,19,1) 100%), url("../img/bandas2.jpg") 50% 0 no-repeat fixed;
  background: -o-radial-gradient(center, ellipse cover, rgba(76,76,76,0) 0%, rgba(75,75,75,0) 1%, rgba(19,19,19,1) 100%), url("../img/bandas2.jpg") 50% 0 no-repeat fixed;
  background: -ms-radial-gradient(center, ellipse cover, rgba(76,76,76,0) 0%, rgba(75,75,75,0) 1%, rgba(19,19,19,1) 100%), url("../img/bandas2.jpg") 50% 0 no-repeat fixed;
  background: radial-gradient(ellipse at center, rgba(76,76,76,0) 0%, rgba(75,75,75,0) 1%, rgba(19,19,19,1) 100%), url("../img/bandas2.jpg") 50% 0 no-repeat fixed;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1 ), url("../img/bandas2.jpg") 50% 0 no-repeat fixed;
}

#banda3{
  background-size: contain;
  background-position: center;
  background: rgba(76,76,76,0);
  background: -moz-radial-gradient(center, ellipse cover, rgba(76,76,76,0) 0%, rgba(75,75,75,0) 1%, rgba(19,19,19,1) 100%), url("../img/bandas3.jpg") 100% 100% no-repeat fixed;
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(76,76,76,0)), color-stop(1%, rgba(75,75,75,0)), color-stop(100%, rgba(19,19,19,1))), url("../img/bandas3.jpg") 100% 100% no-repeat fixed;
  background: -webkit-radial-gradient(center, ellipse cover, rgba(76,76,76,0) 0%, rgba(75,75,75,0) 1%, rgba(19,19,19,1) 100%), url("../img/bandas3.jpg") 100% 100% no-repeat fixed;
  background: -o-radial-gradient(center, ellipse cover, rgba(76,76,76,0) 0%, rgba(75,75,75,0) 1%, rgba(19,19,19,1) 100%), url("../img/bandas3.jpg") 100% 100% no-repeat fixed;
  background: -ms-radial-gradient(center, ellipse cover, rgba(76,76,76,0) 0%, rgba(75,75,75,0) 1%, rgba(19,19,19,1) 100%), url("../img/bandas3.jpg") 100% 100% no-repeat fixed;
  background: radial-gradient(ellipse at center, rgba(76,76,76,0) 0%, rgba(75,75,75,0) 1%, rgba(19,19,19,1) 100%), url("../img/bandas3.jpg") 100% 100% no-repeat fixed;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1 ), url("../img/bandas3.jpg") 100% 100% no-repeat fixed;
}

#bandas > div:nth-of-type(1) > div:nth-of-type(2) {
    margin: 0;
    height: 90vh;
    position:absolute;
    background-size: cover;
    top:0px;
    width:100%;
    min-width: 960px;

}



#bandas > div:nth-of-type(2) > div:nth-of-type(2) {
    margin: 0;
    height: 100%;
    position:absolute;
    background-size: cover;
    top:0;
    width:100%;   
    min-width: 960px;
}


#bandas > div:nth-of-type(3) > div:nth-of-type(2)  {
    margin: 0;
    height: 100%;
    position:absolute;
    background-size: cover;
    top:0;
    width:100%;
    min-width: 960px;   
}






/* INGRESAR BANDA */

.busc, .ing, .resul, .imgslider-input, .posicion-slide-input, .btn2, #dialog-confirm, .listabandas, .mod{
  display: none;
}

.convocatoria div{
  display: block;
}

.busc input, .ing input, .mod input, #registrobanda input[type="submit"]{
  background-color: transparent;
  color: #804200;
  border: 0;
  /*text-transform: uppercase;
  /* border-top: 1px solid; */
  border-bottom: 1px solid;
  /* border: 0; */
  padding: 0.5em 2.5em;
  margin: 1em 0;
  /* border-radius: 7px; */
  -webkit-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
  -moz-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
  -o-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
  transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */

  -webkit-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
  -moz-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
  -o-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
  transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
}

.submit-input:hover, #registrobanda input[type="submit"]:hover{
  background-color: #FFA500;
  color: #000000 !important;
  text-decoration: none;
}

.form-horizontal .form-group{
  display: inline-block;
  vertical-align: top;
  margin:0 0.5em;
}

.tieneslider{
  width: auto !important;
  float: left;
}

.imgslider-input{
  clear: both;
}

.imgslider-input{
  overflow: hidden;
}

input[name="imgslider"]{
  display: none;
}

.listabandas{
  margin: 1em auto;
  width: 100%;
  text-align: center;
}

.mod .posicion-slide-input{
  clear: both;
}

.resul{
  margin-top: 40px;
}

.resul th, .tablabandas th, .listgeneros th{
  display: table-cell;
  font-style: bold;
  color: rgba(255, 0, 0, 0.47);
} 

.resul th, .listgeneros th{
  background: rgba(246, 246, 246, 0.03);
  padding: 10px;
}

.tablabandas th{
  padding: 5px;
  color: rgba(255, 0, 0, 0.47);
}

.resul td, .tablabandas td, .listgeneros td{
  padding: 6px 12px;
  display: table-cell;
}

.resul a, .resul tbody, .tablabandas a, .tablabandas tbody, .listgeneros a, .listgeneros tbody{
  color: rgba(255, 255, 255, 0.3);
}

.resul tr, .tablabandas tr, .listgeneros tr{
  background: rgba(246, 246, 246, 0.03);
  border-top: 1px solid rgba(255, 0, 0, 0.25);
}

.resul tr:nth-of-type(odd), .tablabandas tr:nth-of-type(odd), .listgeneros tr:nth-of-type(odd){
  border-top: 1px solid rgba(255, 0, 0, 0.25);
  background: none;
}




.criterio-input, .buscar-input{
  width: 50%;
  display: inline;
}

form label{
  text-align: right;
}

form .inputs{
  text-align: right;
}


.form-horizontal, .submit-input{
  margin-top: 20px;
  overflow: hidden;
}

.form-group{
  overflow: hidden;
}

.labelimgslider{
  text-align: left;
}

.sliderop{
  text-align: right;
}

.error p{
  color: #D70000;
}
  
#dialog ul{
  padding: 0;
  text-align: center;
}

.divBlockbandas{
  display: block;
  margin: 1.5em 0;
}

.provincia-input, .pais-input, .localidad-input{
  max-width: 215px;
}

.form-control{
  width: 100%;
  max-width: 300px;
  min-height: 45px;
  display: block;
  float: none;
  padding: 0.5em 1em;
  margin: 0.5em auto;
  /* text-align: center; */
  color: #5A5A5A;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.33);
  border-radius: 4px;
  outline: 0;
  -webkit-transition: border 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
     -moz-transition: border 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
       -o-transition: border 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
          transition: border 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
  -webkit-transition: color 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
     -moz-transition: color 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
       -o-transition: color 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
          transition: color 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
   -webkit-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
       -moz-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
         -o-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
            transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
}

.RadioDivIngBand{
  margin: 1em 0 3em 0;
}

.RadioDivIngBand div label, .RadioDivIngBand div, .RadioDivIngBand label{
  display: inline-block !important;
}

.labeltitle{
  min-width: 350px;
}

.otrocontacto{
  width: 22px;
  height: 22px;
  vertical-align: top;
  margin: 0 5px 0 5px !important;
}

.media{
  margin: 0 1.5em;
  display: inline-block;
}

.media input, .media label{
  display: inline-block !important;
  vertical-align: middle;
}

.media input{
  width: auto !important;
}

input.radiomedia{
  min-width: 22px !important;
  min-height: 22px !important;
  display: inline-block !important;
  margin: 0 !important;
  vertical-align: middle;
}

.media .inputs, .media label{
  max-width: 360px !important;
}

.media .inputs label{
  margin: 0 1em !important;
}

.media div{
  text-align: left;
}

/* FOOTER */

footer{
  position: fixed !important;
  /* bottom: 0 !important; */
  bottom: 0;
  /* margin-top: -115px !important; */
  padding-bottom: 55px;
  z-index: 100;
}

.linksfooter{
  text-align: center;
  display: block;
  padding: 1em;
}

.linksfooter img{
  float: left;
  margin: 1em 15px;
}

.linksfooter a{
  -webkit-transition: all 250ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
   -moz-transition: all 250ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
     -o-transition: all 250ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
        transition: all 250ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */

   -webkit-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
       -moz-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
         -o-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
            transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
}

.linksfooter a:hover{
  opacity: 0.55;
}

.mediaplayer {
  cursor: pointer;
  margin-right:2em;
  bottom: 75px;
  margin-top: -50px;
  height: 50px;
  width: 50px;
  position: fixed;
  right: 0;
  border-radius: 50%;
  background-color: #DB1102;
  background-image: url("../img/play.png");
  background-size: cover;
   -webkit-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
   -moz-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
     -o-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
        transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */

   -webkit-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
       -moz-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
         -o-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
            transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
}

.mediaplayer:hover{
  background-color: #2d0b0b;
  background-image: url("../img/pausa.png");
  background-size: cover;
}


/* LOGIN */


.logn{
  height: 100vh !important;
  display: table;
}

#ingresar{
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  background-image: url("../img/pattern1.png");
}

#ingresar label{
 float: none;
  margin: 0 auto;
  /* text-align: center; */
  display: block;
  max-width: 250px;
  text-align: left;
  font-weight: normal !important;
  padding: 0.5em 0;
  color: #666666;
}

#ingresar div{
  float: none;
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 450px;
  padding: 0;
}

#ingresar div input{
  color: #D80000;
  font-size: 1.25em;
  padding: 0.5em 1em;
  border-radius: 7px;
  width: 100%;
  border: 2px solid #B70000;
  background-color: transparent;
  margin: 0 0 1em 0;
}

#ingresar h2{
  color: #FEC100;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 3em;
}

.ingresarBoton{
  background-color: rgba(255, 0, 0, 0.2);
  /*padding: 0 0 3em 0 !important;*/
  width: 100% !important;
  max-width: 100% !important;
}

.password-input{
  margin-bottom: 2em !important;
}

.ingresarBoton a{
  display: block;
  padding: 2em 0;
  font-size: 0.9em;
  text-align: center;
  max-width: 250px;
  margin: 0 auto;
  color: #545353;
}

.ingresarBoton input{
  margin: 0 auto !important;
  display: block;
  border-radius: 0 0 10px 10px !important;
  border: none !important;
  background-color: rgba(0, 0, 0, 0.75) !important;
  width: 200px !important;
  font-weight: normal !important;
  font-size: 1.15em !important;
  padding: 0.75em 1.5em !important;
  text-transform: uppercase;
}

#ingresar div input:-webkit-autofill{
  background-color: green !important; 
}

.navuser p{
  color: #FF0000;
} 
  
.highcharts-background{
  fill: transparent;
 }

.highcharts-axis{
  display: none;
}

.highcharts-xaxis-labels{
  display: none;
}

.highcharts-legend-item{
  display: none;
}

/*------------- DASHBOARD ---------------*/

div#grafico1 path {
  stroke: transparent;
}

div#grafico2 path {
  stroke: #454545;
  stroke-width: 1px;
}

div#grafico3 path {
  stroke: #454545;
  stroke-width: 1px;
}

div#grafico4 path {
  stroke: transparent;
}




svg {
  font-family: 'Montserrat Alternates', sans-serif !important;
}

.highcharts-markers path {
  fill: #F90000 !important;
}

tspan {
  fill: #939393;
}

/*------------- DASHBOARD ---------------*/
/*-------------    FIN    ---------------*/






/*------------- NAV USERS ---------------*/

.navuser{
  position: fixed;
  z-index: 100;
  padding: 0;
  border-bottom: 1px solid #FFA500;
  border-top: none;
}

.navuser a{
  text-align: center;
   vertical-align: text-bottom;
  color: #FFA500;
  height: 50px;
  border-top: none !important;
  background-color: rgba(0, 0, 0, 0.9);
  line-height: 15px;
  -webkit-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
     -moz-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
       -o-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
          transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */

   -webkit-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
       -moz-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
         -o-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
            transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
} 

.navbar-collapse{
  padding: 0;
}

.navuser li{
  vertical-align: top !important;
}

.navuser a:hover{
    line-height: 50px;
    background: #FFA500 !important;
    color: #000000;

}


@media (max-width: 500px) {
  #navbarCollapse .navico {
    background-size: 50%  ;
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 0;
  }

  .navbar-nav {
    width: 100%;
  }

  .dashIco{
    background: url("../img/ui_dash.png"), transparent;    
  }

  .ingfechaIco{
    background: url("../img/ui_ingfecha.png"), transparent;    
  }

  .ingbandaIco{
    background: url("../img/ui_ingband.png"), transparent;    
  }

  .inglugarIco{
    background: url("../img/ui_inglugar.png"), transparent;    
  }

  .inggeneroIco{
    background: url("../img/ui_dash.png"), transparent;    
  }  

  .logoutIco{
    background: url("../img/ui_logout.png"), transparent;    
  }  

}

.navuser #navbarCollapse {
  border-top: none;
}



/*------------- NAV USERS ---------------*/
/*-------------    FIN    ---------------*/

/*----------- INGRESAR FECHA ------------*/

/*.fechasbg{
  background-image: url("../img/fechasbg2.png");
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}*/

.userSubmenu{
  width: 75%;
  margin: 0 auto;
  padding-top: 20px;
}

.userSubmenu a{
  width: 40%;
  
  max-width: 250px;
  display: inline-block;
  font-size: 1em;
  color: #FFA500;
  text-transform: uppercase;
  line-height: 35px;
  border-bottom: 1px solid;
  text-decoration: none;
  -webkit-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
  -moz-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
  -o-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
  transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */

  -webkit-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
  -moz-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
  -o-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
  transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
}

/*.showbusc{
  border-top-right-radius: 10px;
}

.showing{
  border-top-left-radius: 10px;
}*/

.userSubmenu a:hover{
  background-color: #FFA500;
  color: #000000;
}

.ing label, .busc label, .mod label, #registrobanda label{
  display: block;
  float: none;
  padding: 0;
  margin: 0 auto;
  max-width: 300px;
  text-align: left;
  color: rgba(234, 234, 234, 0.61);
  font-weight: normal;
}

.inputs{
  float: none;
  display: block;
  margin: 0 auto !important;
  /* width: 15%; */
  padding: 0;
  max-width: 300px;
}

.inputs input{
  margin: 0.5em 0;
  width: 100%;
  min-height: 45px;
  background-color: rgba(255, 255, 255, 0.02);
  border: 1px solid #5A5A5A;
  padding: 0.75em 1.25em;
  border-radius: 4px;
  -webkit-transition: border 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
  -moz-transition: border 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
  -o-transition: border 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
  transition: border 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
  -webkit-transition: color 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
  -moz-transition: color 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
  -o-transition: color 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
  transition: color 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
  -webkit-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
  -moz-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
  -o-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
  transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
}

.inputs input:valid{
  color: #FFA500;
}

.inputs input:invalid{
    color: #5A5A5A;
}

.inputs input:focus{
  border: 1px solid #FFA500;
  color: #FFA500;
}

.inputs select:focus{
  border: 1px solid #FFA500;
  color: #FFA500;
}

.tablefecha{
  margin: 3em 0 0 0;
}

.addbanda{
  width: 100%;
  height: 30px;
  max-width: 150px;
  font-size: 0.75em;
  color: #FFA500;
  text-transform: uppercase;
  text-align: center;
  line-height: 30px;
  -webkit-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
  -moz-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
  -o-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
  transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */

  -webkit-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
  -moz-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
  -o-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
  transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
}

.addbanda:hover{
  background-color: #FFA500;
  color: #000000 !important;
  text-decoration: none;
}

.addbanda:link{
  margin: 0.25em 0;
  text-decoration: none;
  color: #5A5A5A;
  display: inline-block;
  border-bottom: 1px solid;
}

.tablabandas{
  margin: 2em 0;
}

select{
  width: 100%;
  max-width: 300px;
  min-height: 45px;
  display: block;
  float: none;
  padding: 0.5em 1em;
  margin: 0.5em auto;
  /* text-align: center; */
  color: #5A5A5A;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.33);
  border-radius: 4px;
  outline: 0;
  -webkit-transition: border 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
     -moz-transition: border 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
       -o-transition: border 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
          transition: border 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
  -webkit-transition: color 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
     -moz-transition: color 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
       -o-transition: color 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
          transition: color 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
   -webkit-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
       -moz-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
         -o-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
            transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
}

option{
  background-color: #111111 ;
  padding:0.25em;
  border:none;
}

select[name="posicion"]{
  display: none;
}

.lugar-input select:focus{
  border: 1px solid #FFA500;
  color: #FFA500;
}

.tablabandastitulo{
  background-color: rgba(246, 246, 246, 0.03) !important;
}

.fecha-input, .hora-input{
  width: 130px;
  margin: 0em 0.5em 15px 0.5em !important;
  display: inline-block;
  }

.fecha-input label, .fecha-input div{
  width: 100% !important;
}

.hora-input label, .hora-input div{
  width: 100% !important;
}

.fecha-input input, .hora-input input{
  text-align: center;
}

.lugarfechahora{
  margin: 1em 0;
}

.tieneslider{
  height: 100% !important;
  width: 20px !important;
  margin: 0 1em !important; 
}

.posicion-slide-input div select{
  max-width: 208px;
  font-size: 0.9em;
}


.divimgslider{
  display: block;
  margin: 1.5em 0 1.5em 0;
}

.divimgslider div{
  display: inline-block;
}

#imgslider{
  font-size: 0.9em;
  outline: none;
}

#userfile{
  color: #5A5A5A !important;
  font-size: 0.9em;
  outline: none;
}

input#userfile{
  outline: none;
}

.sliderop{
  display: inline-block;
  max-width: 160px;
  height: 93.5px;
  margin: 0 1em 0 1.5em !important;
}

.posicion-slide-input{
  margin: 0 1em;
}

.sliderop label{
  height: 100%;
  vertical-align: middle;
  padding-top: 35px;
  padding-left: 2em;
} 

/*----------- INGRESAR FECHA ------------*/
/*-------------    FIN    ---------------*/

/*---------- INGRESAR LUGAR -------------*/


.lugarbg{
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

#ingresar-lugar label{
  width: 100%;
}

#ingresar-lugar .inputs{
  width: 100%;
}

/*---------- INGRESAR LUGAR -------------*/
/*-------------    FIN    ---------------*/

/* FACU CSS AGREGAR DPS AL DE JULI | SACAR EL NAV QUE JODIA*/

#calendario{
  /*margin-top: 50px;*/
}

#registrobanda{
  margin: 30px 0 80px;
}

.dashboard{
  margin: 50px 0;
}

.contac2, #dialog-confirm2, .ing .localidad-input, #registrobanda .localidad-input, .ui-dialog-titlebar, .repetir{
  display: none;
}

#dialog-confirm2 .respuesta p{
  display: inline-block;
}

.media{
  overflow: hidden;
}

.chart{  
  margin-top: 20px;
}

.panel {
  border-radius: 4px;
  background-color: rgba(255, 165, 0, 0.05);
  border-color: #337ab7;
  color: black;
  margin: 5vh 0;
  padding: 1em;
  -webkit-transition: background-color 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
   -moz-transition: background-color 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
     -o-transition: background-color 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
        transition: background-color 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
 -webkit-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
     -moz-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
       -o-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
          transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
}

.panel:hover{
  background-color: rgba(255, 165, 0, 0.10);
}

.bloques{
  overflow: hidden;
}

.text-right{
  text-align: right;
  padding: 0 15px 15px;
  color: #989898;
}

.panelfooter{
  text-align: left;
  padding: 10px;
  border-top: 1px solid #C80000;
}

.panelfooter a{
  text-decoration: none;
  color: #FFA500;
}

.panaelnoconfirmados{
  /*background-color: #337ab7;*/
  border-color: #337ab7;
}

.panelnoturno{
  /*background-color: #5cb85c;*/
  border-color: #5cb85c;
}

.panelnoconvocatoria{
  /*background-color: #f0ad4e;*/
  border-color: #f0ad4e;
}

.panelheader{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    /*padding: 0 15px 15px;*/
    color: #FFFFFF;
}

.panaelnoconfirmados .numeropanel{
  color: #00A8FF;
}

.panelnoturno .numeropanel{
  color: #2BFF00;
}

.panelnoconvocatoria .numeropanel{
  color: #898FFF;
}


.numeropanel{
  font-size: 50px;
}

.listgeneros{
  margin-top: 30px;
}

.form-control{
  width: 100% !important;
}

.menuprincipal{
  text-align: left;
  height: 100%;
}

.menuprincipal ul{
  padding: 0;
  height: 100%;
}

.menuprincipal li a{
    display: block;
    padding: 10px 15px;
    position: relative;
    text-decoration: none;
}


.clockpicker-popover{
  left: 50%;
  margin-bottom: 50px;
}

#dialog-overlay {
    width:100%; 
    height:100%;
    filter:alpha(opacity=50); 
    -moz-opacity:0.5; 
    -khtml-opacity: 0.5; 
    opacity: 0.5; 
    background:#000; 
    position:absolute; 
    top:0; left:0; 
    z-index:3000; 
    display:none;
}

.dialogcontacto{
  margin: 0;
}




#dialog-confirm2{
  font-size:15px;
}

#dialog-confirm2 table {
  font-family:Arial, Helvetica, sans-serif;
  background:#eaebec;
  margin:20px 0;
  border:#ccc 1px solid;

  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;

  -moz-box-shadow: 0 1px 2px #d1d1d1;
  -webkit-box-shadow: 0 1px 2px #d1d1d1;
  box-shadow: 0 1px 2px #d1d1d1;
}
#dialog-confirm2 table th {
  padding:18px;
  border-top:1px solid #fafafa;
  border-bottom:1px solid #e0e0e0;

  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
#dialog-confirm2 table th:first-child {
  text-align: left;
  padding-left:20px;
}
#dialog-confirm2 table tr:first-child th:first-child {
  -moz-border-radius-topleft:3px;
  -webkit-border-top-left-radius:3px;
  border-top-left-radius:3px;
}
#dialog-confirm2 table tr:first-child th:last-child {
  -moz-border-radius-topright:3px;
  -webkit-border-top-right-radius:3px;
  border-top-right-radius:3px;
}
#dialog-confirm2 table tr {
  text-align: center;
  padding-left:20px;
}
#dialog-confirm2 table td:first-child {
  text-align: left;
  padding-left:20px;
  border-left: 0;
}
#dialog-confirm2 table td {
  padding:18px;
  border-top: 1px solid #ffffff;
  border-bottom:1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;

  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
#dialog-confirm2 table tr.even td {
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
  background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
#dialog-confirm2 table tr:last-child td {
  border-bottom:0;
}
#dialog-confirm2 table tr:last-child td:first-child {
  -moz-border-radius-bottomleft:3px;
  -webkit-border-bottom-left-radius:3px;
  border-bottom-left-radius:3px;
}
#dialog-confirm2 table tr:last-child td:last-child {
  -moz-border-radius-bottomright:3px;
  -webkit-border-bottom-right-radius:3px;
  border-bottom-right-radius:3px;
}
#dialog-confirm2 table tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);  
}


















@media (max-width: 767px) {
    .fechainfoslider p {
        margin: 0;
        font-size: 1.5em;
    }

    .fechainfoslider h2 {
        font-size: 4em;
    }

    .linkscalendario {
        width: 100%;
        text-align: center;
        padding: 1em 1em;
    }

    .banda .infototalbanda h2{
      font-size: 1.8em;
      line-height: 50px;
    }

    .banda .infototalbanda p{
      font-size: 0.65em;
    }

    .banda .infobanda{
      width: 100%;
      padding: 2em 1em;
    }

    .banda iframe{
      float: none;
      display: block;
      width: 100%;
      padding: 0 1em;
    }

    .agendaTitulo h2{
      font-size: 4em;
    }

    #registrobanda h2{
      font-size: 3em;
    }

}


@media (min-width: 768px) and (max-width: 991px) {

  .fechas a{
    padding: 26px 1em;
    font-size: 1.10em;
  }

  .fechas h2{
    font-size: 3.1em;
  }

}

@media (min-width: 992px) and (max-width: 1199px) {



  .fechas a{
    padding: 26px 1em;
  }

  .fechas h2{
    font-size: 3.5em;
  }

}

@media (min-width: 1200px){


}
